#horizontal-band {
    width: 100%;
}

.button {
    cursor: pointer;
    text-align: center;
    border: 1px solid black;
    border-radius: 1rem;
    width: 120px;
}

.user {
    cursor: pointer;
    background-color: rgb(122, 122, 157);
    color: beige;
}